<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:text="#{email.register.title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="icon" th:href="@{|${consoleUrl}/favicon.ico|}"/>
</head>

<body>
<p th:text="#{email.register.greeting(${user.name})}"></p>
<p th:text="#{email.register.thank}"></p>
<p th:text="#{email.register.text1}"></p>
<p>
  <b th:text="${password}"></b>
</p>
<p style="color: red; font-weight: bold"  th:text="#{email.register.text2}"></p>
<p style="color: red; font-weight: bold" th:text="#{email.register.text3}"></p>
<p th:text="#{email.register.text4}"></p>
<p>
  <a th:href="@{|${consoleUrl}/sign-in|}" th:text="@{|${consoleUrl}/sign-in|}"></a>
</p>
</body>
</html>
